body {
  margin: 0;
  padding: 0;
}
header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 89px 25px 214px 25px 1fr 25px 79.26px 25px 53px 25px 69px 25px 69px 25px 1px;
  grid-template-columns: 89px 214px 1fr 79.26px 53px 69px 69px 1px;
  gap: 1px 25px;
  -ms-grid-rows: 100px;
  grid-template-rows: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  position: relative;
}
header > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
header > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
header > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
header > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
header > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}
header > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}
header > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}
header > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}
@media (max-width: 740px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header header {
    width: 100%;
  }
  header img {
    display: none;
  }
}
header .text-logo {
  color: white;
  font-weight: 900;
  font-size: 50px;
  font-style: oblique;
  margin-right: 1000px;
  position: relative;
}
header .img:hover {
  scale: 0.85;
}
header .img:active {
  scale: 0.9;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section1 .block1 {
  width: 90%;
  height: 182px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #DDDDDD;
  margin-top: 20px;
  border-radius: 20px;
  font-size: 70px;
  -webkit-box-shadow: -5px 3px 4px #a1a1a1;
          box-shadow: -5px 3px 4px #a1a1a1;
}
@media (max-width: 740px) {
  .section1 .block1 {
    font-size: 20px;
    padding: 10px;
  }
}

.block2 {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
}
.block2 .div1 {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 740px) {
  .block2 .div1 {
    flex-dirtecion: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.block2 .div1 div {
  -webkit-box-shadow: -5px 3px 4px #a1a1a1;
          box-shadow: -5px 3px 4px #a1a1a1;
  border-radius: 24px;
  text-align: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  padding: 20px;
  background-color: #DDDDDD;
}

.block3 {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.block3 .divvv {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-radius: 53px;
  padding: 30px;
  background-color: #E3E3E3;
  -webkit-box-shadow: -5px 3px 4px #a1a1a1;
          box-shadow: -5px 3px 4px #a1a1a1;
}
.block3 .divvv h1 {
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  bottom: -40px;
}
.block3 .divvv p {
  font-size: 23px;
  line-height: 1.4;
}
.block3 .divvv .p {
  text-shadow: 5px 5px 5px #000000;
}

footer {
  position: static;
  margin-top: 25px;
  bottom: 0;
  background-color: black;
  height: 142px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #5a5959;
}
footer pre {
  font-size: 30px;
}