@import "mixin.scss";
@import "variables.scss";

body{
    margin: 0;
    padding: 0;
}
.header{
    font-family: sans-serif;
    @include flex-row;
    background-color: #F3F8FF;
    .logo{
        width: 70px;
        height : 70px;
    }
    .hedaer__logo_text{
        font-size: 30px;
        font-weight: bold;
        @media(max-width: 550px){
            font-size: 25px;
        }

    }
    .space{
        flex: 1;
    }
    .header__menu{
        .header__menu__navigation{
            outline: none;
            text-decoration: none;
            color: black;
            font-weight: bold;
            padding: 3px;
            @media(max-width: 550px){
                font-size: 10px;
            }
        }
    }
    form{
        @include flex-center;
        margin: 0px 125px;
        @media(max-width: 750px){
            margin: 0px 30px;
        }
        @media(max-width: 550px){
            margin: 0px 3px;
        }
        button{
            border: none;
            padding: 10px;
            background-color: #4335DE;
            color: white;
            border-radius: 30px;
            @media(max-width: 550px){
                font-size: 10px;
                padding: 5px;
            }
        }
    }
}
    .privacy{
        @include flex-row;
        .privacy__content{
            @include flex-column;
            h1{
                display: flex;
                justify-content: center;
            }
            p{
                text-align: center;
            }
            form{
                @include flex-row;
                justify-content: center;
                .button-orange{
                    margin-right: 15px;
                    @include button-one;
                }
                .button-clasik{
                    margin-right: 15px;
                    @include button-two;
                }
            }
        }
        .img{
            .one-foto{ 
                width: 500px;
            }
            .two-foto{
                width: 200px;
                position: absolute;
                right: 400px;
            }
        }
}
.container-reviews{
    background-color: rgba(247, 201, 95, 1);
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    @media(max-width: 600px){
        align-items: center;
    }
    .container-reviews__text{
        margin: 50px;

    }
    .container-reviews__scroll-reviews{
        width: 100%;
        max-height: 333px;
        display: flex;
        overflow-x: auto;
        ::-webkit-scrollbar{
            width: 1px;
        }
        .container-reviews__scroll-reviews__reviews{
            min-width: 340px;
            margin-left: 40px;
            height: 275px;
            border-radius: 40px;
            padding: 20px;
            // line-height: 305px;
            background-color: white;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            @media(max-width: 600px){
                margin-left: 5px;
            }
            .container-reviews__scroll-reviews__reviews__stars{
                display: flex;
                flex-direction: row;
            }
            p{

            }
            h5{

            }
        }
    }
    .image{
        margin-left: 50px ;
        display: flex;
        flex-wrap: wrap;
        margin: 50px 0px;
        @media(max-width: 600px ){
            margin-left: 0;
        }
        p{
            font-size: 20PX;
            font-weight: bold;

        }
        img{
            object-fit: contain;
            max-height: 60px;
            margin: 0px 3px;

        }
    }
}