@import "mixin.scss";
@import "variables.scss";

body{
    margin: 0;
    padding: 0;
}
.header{
    font-family: sans-serif;
    @include flex-row;
    background-color: #F3F8FF;
    .logo{
        width: 70px;
        height : 70px;
    }
    .hedaer__logo_text{
        font-size: 30px;
        font-weight: bold;
        @media(max-width: 550px){
            font-size: 25px;
        }

    }
    .space{
        flex: 1;
    }
    .header__menu{
        .header__menu__navigation{
            outline: none;
            text-decoration: none;
            color: black;
            font-weight: bold;
            padding: 3px;
            @media(max-width: 550px){
                font-size: 10px;
            }
        }
    }
    form{
        @include flex-center;
        margin: 0px 125px;
        @media(max-width: 750px){
            margin: 0px 30px;
        }
        @media(max-width: 550px){
            margin: 0px 3px;
        }
        button{
            border: none;
            padding: 10px;
            background-color: #4335DE;
            color: white;
            border-radius: 30px;
            @media(max-width: 550px){
                font-size: 10px;
                padding: 5px;
            }
        }
    }
}
    .privacy{
        @include flex-row;
        @media(max-width: 600px){
        @include flex-column;
        flex-direction: column-reverse;
        }
        .privacy__content{
            @include flex-column;
            padding: 10px;
            h1{
                display: flex;
                justify-content: center;
            }
            p{
                text-align: center;
            }
            form{
                @include flex-row;
                justify-content: center;
                .button-orange{
                    margin-right: 15px;
                    @include button-one;
                }
                .button-clasik{
                    margin-right: 15px;
                    @include button-two;
                }
            }
        }
        .img{
            position: relative;
            
            .one-foto{ 
                width: 600px;
                left: 0px;
                @media(max-width: 1000px){
                    max-width: 500px;
                }
                @media(max-width: 800px){
                    max-width: 400px;
                }
                @media(max-width: 600px){
                    max-width: 100%;
                }
            }
            .two-foto{
                width: 200px;
                position: absolute;
                left: 50px;
                @media(max-width: 600px){
                    max-width: 150px;
                    left: -20px;
                }
            }
        }
}
.container-reviews{
    background-color: rgba(247, 201, 95, 1);
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    @media(max-width: 600px){
        align-items: center;
    }
    .container-reviews__text{
        margin: 50px;

    }
    .container-reviews__scroll-reviews{
        width: 100%;
        max-height: 333px;
        display: flex;
        overflow-x: auto;
        overflow-y: auto;
        ::-webkit-scrollbar{
            width: 1px;
        }
        .container-reviews__scroll-reviews__reviews{
            min-width: 300px;
            margin-left: 40px;
            height: 275px;
            border-radius: 40px;
            padding: 20px;
            // line-height: 305px;
            background-color: white;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            @media(max-width: 600px){
                margin-left: 5px;
            }
            .container-reviews__scroll-reviews__reviews__stars{
                display: flex;
                flex-direction: row;
            }
            p{

            }
            h5{

            }
        }
    }
    .image{
        margin-left: 50px ;
        display: flex;
        flex-wrap: wrap;
        margin: 50px 0px;
        @media(max-width: 600px ){
            margin-left: 0;
        }
        p{
            font-size: 20PX;
            font-weight: bold;

        }
        img{
            object-fit: contain;
            max-height: 60px;
            margin: 0px 3px;

        }
    }
}
.wizard-conteiner{
    @include flex-row;
    @include flex-center;
    margin: 70px 0px;
    @media (max-width: 800px){
        @include flex-column;
        flex-direction: column-reverse;
    }
    .wizard-conteiner__content{
        @include flex-column;
        max-width: 50%;
        padding: 30px;
        h1{
            font-weight: bold;
            max-width: 400px;
            margin-bottom: 50px;
            @include font-size-media;
            color: black;
            font-size: 3em;
        }
        p{
            max-width: 500px;
            @include font-size-media;
            color: black;
            margin-bottom: 50px
        }
        form{
            .wizardbutton-orange{
                @include button-one;
                margin: 5px 0px;
            }
            .wizardbutton-clasik{
                @include button-two;
                margin-left: 20px;
            }
        }
    }
    .wizard-conteiner__image{
        @include flex-center;
        img{
            @media(max-width:500px){
                max-width: 340px;
            }
        }
    }
}
.conteiner{
    padding: 40px;
    @include flex-column;
    align-items: center;
    background-color: rgba(243, 248, 255, 1);
    h1{
        margin-bottom: 40px;
        text-align: center;
        @include font-size-media;
        color: black;
    }
    .conteiner__box{
        @include flex-column;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 40px;
        padding: 30px;
        max-width: 70%;
        .conteiner__box__produckt-card{
            @include flex-row;
            justify-content: center;
            flex-wrap: wrap;
            .conteiner__box__produckt-card__card{
                max-width: 250px;
                @include flex-column;
                align-items: center;
                padding: 10px;
                justify-content: center;
                flex: 0 0 calc(25% - 10px);
                max-width: calc(25% - 10px);
                @media (max-width: 768px) { 
                      flex: 0 0 calc(50% - 10px);
                      max-width: calc(50% - 10px);
                  }
                  
                  @media (max-width: 480px) {
                      flex: 0 0 100%;
                      max-width: 100%;
                  }
                img{

                }
                h3{
                    text-align: center;
                    @include font-size-media;
                    color: black;
                }
                p{
                    text-align: center;
                }
            }
        }
    .conteiner__box__btn{
        margin: 20px;
        display: flex;
        justify-content: center;
    form{
        .btn-one{
            @include button-one
            
        }
        .btn-two{
            @include button-two;
            margin-left: 10px;
        }
    }
    }
 }

}
.support{
    @include flex-row;
    @include flex-center;
    padding: 100px;
        @media(max-width: 800px){
        @include flex-column;
        }
    .support__history{
        max-width: 400px;
        @include flex-column;
        margin-right: 50px;
        background-color: $bg-btn-scrll-orng;
        padding: 35px;
        border-radius: 30px;

        p{
            margin-bottom: 50px;
        }
        button{
            @include button-one;
            background-color: rgba(67, 53, 222, 1);
            color: white;
        }
    }
    .support__help-center{
        max-width: 200px;
        padding: 35px;
        @include flex-column;
        p{
            margin-bottom: 50px;
        }
        button{
            @include button-two
        }
    }
}
.poll{
    @include flex-center;
    
    background-color: rgba(41, 37, 204, 1);
    .poll__cont{
        @include flex-column;
        align-items: center;
        margin: 70px auto;
        h1{
            color: $text-color;
            margin-bottom: 30px;
        }
        p{
            color: $text-color;
            margin-bottom: 30px;
            font-weight:100;
        }
        .btn{
            .btn-orang{
                @include button-one;
                margin-right: 20px;
            }
            .button-clasik-color{
                color: $text-color;
                @include button-two;
                background-color: rgba(41, 37, 204, 1); 
                border: white 1px solid;
                
            }
        }
    }
}
.wrap-articles{
    background-color: rgba(243, 248, 255, 1);
    @include flex-center;
    .wrap-articles__articles{
        @include flex-center;
        @include flex-column;
        flex-wrap: wrap;
        h1{
            margin: 50px 0px;
            font-size: 35px;
            color: black;
        }
        .wrap-articles__articles__conteiner{
            
        @include flex-row;
            @media(max-width:800px){
                @include flex-column;
            }
        .wrap-articles__articles__cinteiner__item{
            max-width: 300px;
            border-radius: 30px;
            background-color: rgba(255, 255, 255, 1);
            @include flex-column;
            margin: 50px;
            img{
                width: 100%;
                border-radius: 40px 40px 0px 0px;
            }
            h1{
                margin: 20px;
                @include font-size-media;
                color: black;
            }
            p{
                margin: 20px;
                @include font-size-media;
                color: black;
            }
        }
    }
        .wrap-articles__articles__btn{
            form{
                button{
                    @include button-one;
                    padding: 15px;
                    margin-bottom: 70px;
                }
            }
        }
    }
}
.footer{
    background-color: #02033B;
    color: white;
    position: relative;
    bottom: 0px;
    padding: 100px;
    @media(max-width:780px){
        padding: 15px;
    }
    .footer__wrap{
        @include flex-row;
        flex-wrap: wrap;
        margin-bottom: 30px;
    .footer__wrap__content{
        margin-right: 150px;
        font-size: 11px;
        @include flex-column;
        @media(max-width:780px){
            margin-right: 40px;
        }
        h2{

        }
        .footer__wrap__content__img{
            @include flex-row;
            margin-bottom: 25px;
            img{
                width: 30px;
                margin-right: 15px;
            }
        }
        nav{
            margin-bottom: 20px;
            @include flex-row;
            a{
                color: #FFFFFF;
                margin-right:10px;
            }
        }
        p{
            max-width: 230px;
            margin-bottom: 20px;
        }
    }
    .footer__wrap__Certo{
        margin-right: 150px;
        max-width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @media(max-width:880px){
            margin-right: 40px;
        }

        h1{
            padding: 10px;
            font-size: 35px ;
            border-bottom: 1px solid $text-color;

        }
        ul{
            left: 0;
            list-style: none;
            li{
                font-size: 19px;
                padding: 5px;
                color: $text-orang;
                display: flex;
                align-items: center;
                span{
                    margin-right: 10px;
                    width: 15px;
                    height: 1.5px;
                    background-color: $text-orang;
                }
            }
        }
    }
    .footer__wrap__reg{
        background: #FFC247;
        color: black;
        padding: 25px;
        border-radius: 30px;
        @media(max-width:1450px){
            margin: 50px 0px;
        }
        h2{
            font-weight: 900;
        }
        p{
            font-size: 15px;
            padding-bottom: 20px;
        }
        .footer__wrap__reg__input-container{
            display: flex;
            max-width: 300px;
            background: white;
            border-radius: 42px;
            overflow: hidden;
            input{
                flex: 1;
                border: none;
                padding: 6px 8px;
                font-size: 13px;
                outline: none;
                color: #666;
                ::placeholder {
                    color: #999;
                }
            }
            button{
                background: #0A0A40;
                color: white;
                border: none;
                padding: 12px 20px;
                font-size: 16px;
                cursor: pointer;
                font-weight: bold;
            }
        }
    }
}
    p{
        max-width: 700px;
    }
}
