@import "mixin.scss";
@import "variables.scss";


body {
    background-color: $background-color;
}
header {
    @include flex-row;
    height: 88px;

    background-color: $background-color;
    .logo {
        @include flex-center;
        img{
            width: 90px;
            height: 50px;
                 @media(max-width: 800px){
                width: 75px;
                height: 45px;
                }
                @media(max-width: 550px){
                width: 65px;
                height: 35px;
                }
        }

    }
    .space{
        flex: 1;
    }
    .header__menu {
        @include flex-center;
        color: $text-color;
        margin: 0 7px;
            @media(max-width: 800px){
            margin: 0px 5px;
            }
            @media(max-width: 500px){
            margin: 0 3px;
            }
        }
        .header__menu-color {
            @include font-size-media;
        }
        li{
            @include font-size-media;
        }
        li::marker{
            // color: liner-gradient(#665DCD 30%,#5FA4E6 30%,#D2AB67 30%); не працює
                color: white;
                font-size: 1em;
        }
}
.Balancing{
    @include flex-column;
    @include flex-center;
    h1{
        @include title;
    }
    p{
        @include font-size-media;
        width: 40%;
        text-align: center;
        @media(max-width: 700px){
            width: 50%;
        }
    }
    button{
        @include buttom-section;
        @include font-size-media;
        margin-top: 10px;
    }
}